@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(line-icons.css);

body {
    color: #000;
    background: #fffde7;
    font-family: 'Dosis', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;    
}
h1,h2,h3,h4,h5{
    font-weight: 300;
}
label{
    font-weight: 300;   
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}
input:focus, textarea:focus { outline: none; }
table tr th { color: #688a7e;}
*:focus {outline: none;}
::selection {
    background: #688a7e;
    color: #fff;
}
::-moz-selection {
    background: #688a7e;
    color: #fff;
}

/*sidebar navigation*/

#sidebar {
    width: 190px;
    height: 100%;
    position: fixed;
    background: #fff
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 60px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background:#26a69a ;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 18px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color:#000;
    font-size: 18px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #000 ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
 
    
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 18px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #000 ;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #00796b;
    color: #006064 ;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;        
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #d0d8df;
}
ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #d0d8df;   
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;

}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li.active a i {
    color: #fff;
}


#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 6px;
    width: 0;
}
#sidebar ul > li > a .menu-arrow { 
    float: right;    
    margin-right: 8px;
    margin-top: 6px;    
}
#sidebar > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 8px;
    width: 0;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid #d0d8df;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #d0d8df;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.mail-info, .mail-info:hover {
    margin: 3px 6px 0 0;
    font-size: 11px;
}
.online-profile li a i {
    position: relative;
    left: -12px;
    top: -10px;
}
.online-profile li a span i {
    position: relative;    
    top: 10px;
}

/*chat-*/

.chat-online-profile li a i {
    position: relative;
    left: -12px;
    top: -10px;
}
.chat-online-profile li a span i {
    position: relative;    
    top: 10px;
}
.chat-online-profile li a{
    border-bottom: 1px solid #D7D7D7;
}
.chat-online-profile li a:hover, .chat-online-profile li a:focus, .chat-online-profile li a:active{
    background: #eeeeee !important;
    border-bottom: 1px solid #688a7e !important;
}
.chat-online-profile li a:hover span i,.chat-online-profile li a:focus span i,.chat-online-profile li a:active span i{
    color: #688a7e;
}
.right-chat-panel{
    max-height: 600px;
}
.compose-mail{
    width: 95%;
    font-size: 16px;
    border-radius: 0;
}
/*main content*/

#main-content {
    margin-left: 200px;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}
.box1 {
    font-size: 16px;
    display: inline-block;
    width: 25%;
    padding: .25em .5em;
    margin: 20px 10px 0 0;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.white-bg {    
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #f1f2f7;
}
.dark-bg {    
    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;
}
.panel-content{
    padding: 10px;
}
.wrapper {
    display: inline-block;
    margin-top: 50px;
    padding: 15px;
    width: 100%;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #688a7e;
}

/*notification*/

#top_menu .nav > li, ul.top-menu > li {
    float: left;
}
.search-row {
    float: left;
    margin-top: 15px;
    margin-left: 16px;
}
.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}
#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar{
    margin-top: 7px;
}

ul.top-menu > li > a {
    color: #fed189;
    font-size: 18px;    
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {    
    background: transparent !important;
    color: #D7D7D7 !important;
}

.notification-row .badge {
    position: absolute;
    right: -4px;
    top: 0px;
    z-index: 100;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00a0df;
    font-weight: 400;
}
.badge {    
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00a0df;
}

.dropdown-menu.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.navbar-form{
    padding: 0px;
    margin: 0 0 0 10px;    
}

.navbar-form .form-control{
    width: 200px;
    height: 30px;
    background: white url('../img/icons/search-line-icon.png') no-repeat 3px;
    padding-left: 24px;
    margin-top: 1px;    
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    };
}
/* bootstrape editor*/
 #editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;    
}

.dropdown-menu.extended li p.green {
    background-color: #4cd964;
    color: #fff;
}

.dropdown-menu.extended li p.red {
    background-color: #00a0df;
    color: #fff;
}
.dropdown-menu.extended li p.blue {
    background-color: #688a7e;
    color: #fff;
}

.dropdown-menu.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}

.dropdown-menu.extended li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
    border-bottom: 1px solid #688a7e !important;
}

.dropdown-menu.tasks-bar .task-info .desc {
    font-size: 13px;
    font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}

.dropdown-menu.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
  
}

.top-nav  {
    margin-top: 7px;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 1000px !important;

}

.top-nav li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-menu.extended.logout > li {
    float: left;
    text-align: left;
    width: 100%;
}
.dropdown-menu.extended.logout > li.eborder-top {
    border-top: 2px solid #688a7e !important;    
}
.dropdown-menu.extended.logout > li:last-child {
    float: left;
    text-align: left;
    width: 100%;
    background: #688a7e;    
}

.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
    background-color:#688a7e !important;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i{
    color: #fff;
}
.dropdown-menu > li > a{
    color: #797979;
}
.dropdown-menu.extended.logout > li > a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 14px;
    list-style: none;
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended.logout > li > a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
    border-bottom: 1px solid #688a7e !important;
}

.dropdown-menu.extended.logout > li > a:hover i {
    color: #688a7e;
}

.dropdown-menu.extended.logout > li > a i {
    font-size: 17px;
}

.dropdown-menu.extended.logout > li > a > i {
    display: inline-block;
    padding-right: 10px
}

.top-nav .username {
    font-size: 13px;
    color: #bdbdbd;
}

.top-nav ul.top-menu > li > a {
    padding: 8px;
    background: none;
    margin-right: 0;
}
.top-nav ul.top-menu > li {
    margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {    
    background: #F1F2F7;

}

.top-nav .dropdown-menu.extended.logout {
    top: 50px;
}

.top-nav .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #7498f1;
    border-top-color: #7498f1;
}

.log-arrow-up {
    background: url("../img/arrow-up.png") no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}
/*----*/
.page-header {
  margin: 12px 0 20px;
  border-bottom: none;
  opacity: 0.7;
  text-transform: uppercase;
}
.page-header i {
  color: #acb1b8;
  margin-right: 10px;
  float: left;
  font-size: 30px;
  line-height: 22px;
  opacity: 0.8;  
}
.breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 34px;
  position: relative;  
  margin: 0 0 19px 0;
  overflow: hidden;
}
.breadcrumb li {
  position: relative;
  margin-right: 0;
}
.breadcrumb li i {
  Font-size: 15px;
  margin-right: 5px;
}
.breadcrumb > .active {
  color: #d4d4d4;
}
/*----------------------  panel-----------------*/
.panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}
.panel .panel-heading {
  line-height: 34px;
  padding: 0 15px;
  min-height: 34px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;  
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);  
}
.panel .panel-heading .panel-title {
  line-height: 40px;
}
.panel .panel-heading i {
  width: 30px;
  display: inline-block;
  font-size: 14px;
  border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading ul li {
  border-top:1px solid #e6e6e6 ;
  border-left:1px solid #e6e6e6 ;
  border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}
.panel .panel-heading .panel-actions {
  float: right;
  margin-right: -15px;
  height: 40px;
  font-size: 0;
}
.panel .panel-heading .panel-actions i {
  display: inline-block;
  text-align: center;
  width: 34px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 14px;
}
.panel .panel-heading .panel-actions a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
  border-left: 1px solid rgba(0,0,0,.09);
}
.panel-actions .btn-setting:hover,
.panel-actions .btn-minimize:hover,
.panel-actions .btn-close:hover {
  background-color: rgba(0,0,0,.05);
}
.panel .panel-heading .switch {
  margin: 10px;
}
.panel .panel-body {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
}
.panel .panel-body-map {
  border-width: 1px 1px 2px;
  border-style: solid;
  background:#eef3f7;
  height:380px;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
}
.panel .panel-body.no-padding {
  padding: 0;
}
.panel .panel-body.padding-horizontal {
  padding: 0 15px;
}
.panel .panel-body.no-padding-bottom {
  padding-bottom: 0;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel .panel-footer {
  border-width: 0 1px 2px 1px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;    
  position: relative;  
}
.panel.panel-default {  
  border-radius: 0px;
  
  border-top: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  
}

.panel.panel-default.panel-heading {
  background: #97d3c5;   
}
.panel.panel-default .panel-footer {
  background: #f5f5f5;
}
.panel.panel-primary {
  border-color: #20a8d8;
}
.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
  background: #5dc3e7;
  color: #092f3d;
  border-color: #20a8d8;
}
.panel.panel-success {
  border-color: #79c447;
}
.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
  background: #a3d781;
  color: #284315;
  border-color: #79c447;
}
.panel.panel-info {
  border-color: #67c2ef;
}
.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
  background: #acdef6;
  color: #106894;
  border-color: #67c2ef;
}
.panel.panel-warning {
  border-color: #fabb3d;
}
.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
  background: #fcd588;
  color: #815703;
  border-color: #fabb3d;
}
.panel.panel-danger {
  border-color: #ff5454;
}
.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
  background: #ffa1a1;
  color: #a10000;
  border-color: #ff5454;
}
/*--sidebar toggle---*/

.toggle-nav {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*state overview*/

.state-overview .symbol, .state-overview .value {
    display: inline-block;
    text-align: center;
}

.state-overview .value  {
    float: right;

}

.state-overview .value h1{
    margin: 0;
    padding: 0;
    color: #688a7e;
}
.state-overview .value p  {
    margin: 0;
    padding: 0;
    color: #fed189;
}

.state-overview .value h1 {
    font-weight: 300;
    font-weight: 30px;
}

.state-overview .symbol i {
    color: #688a7e;
    font-size: 30px;
}

.state-overview .symbol {
    width: 30%;
    padding: 25px 15px;    
}

.state-overview .value {
    width: 68%;
    padding-top: 21px;
}

.state-overview .terques {
    background: #34AADC;
}

.state-overview .red {
    background: #00a0df;
}

.state-overview .yellow {
    background: #FCB322;
}

.state-overview .blue {
    background: #688a7e;
}


/**/
.state .panel-body{
    padding: 0px;
}
.panel-body.chart-texture {
    background: url("../img/chart-texture.jpg");
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    padding: 0px;
}



/*profile-widget image bg*/
.profile-widget-img{
    background: url('../img/backgrounds/bg-11-small.jpg') no-repeat !important;    
}
.profile-nav .profile-widget-img .bg-layer {
    background: rgba(0,0,0,0.5) !important;
}
.profile-widget-img .panel-body{
    background: rgba(0,0,0,0.5) !important;
}
.profile-widget-img .profile-widget-foot{
    background: rgba(0,0,0,0.8);
}
.profile-widget p{
    font-weight: 300;
}
.profile-widget{
}
.profile-widget .twt-category{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
    padding: 0px;
}
.profile-widget .twt-category ul li{
    color: #ffffff;
}
.knob-charts{
    margin-top: 10px;

}
.follow-task{
    padding: 5px;
}
.follow-task a{
    color: #ffffff;
    width: 15%;
    display: inline-block;            
}
.follow-task a span.badge{
    top: -12px;
    position: relative;
    left: -8px;
    background: #FFFFFF;
    color: #34AADC;

}
.follow-task i{
    font-size: 20px;
}
.profile-widget-foot {
    padding: 8px 5px 5px 5px;
    background: rgba(0,0,0,0.1);
    color: #757575;    
    font-weight: 300;
}
.profile-foot {
    padding: 8px 5px 5px 5px;
    background: rgba(0,0,0,0.1);
    color: #ffffff;
    font-weight: 300;
    overflow: hidden;
}
.profile-foot .active{

}
.profile-foot a{
    color: #ffffff;
}
.profile-widget-foot ul {
    padding: 0;
    margin: 0;
}
.profile-widget-foot ul li{
    display: inline-block;
    text-align: center;
    width: 48%;
    line-height: normal;
}

.profile-widget-foot ul li h5{
    margin: 5px 0 0 0;
}
.follow-info{
    text-align: left;
    padding-top: 20px;
  padding-bottom: 10px;

  
}
.profile-widget h4 {
    margin: 5px;
    font-size: 18px;
    font-weight: 300;
}
.profile-widget h6 {
    margin: 0px;
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
}
.profile-widget h6 span i{
    padding-right: 4px;
}
.profile-widget h6 span{
    padding-right: 8px;
}

.project-team, .panel-title,.progress-panel{
    background: #F7F7F7;
}
.profile-ava img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #688a7e;
    display: inline-block;
}
.profile-ava img.simple{
    border-radius: 50%;
    -webkit-border-radius: 50%;    
    border: 2px solid rgba(0,112,255,0.4);
    display: inline-block;
}
.profile-name{
    margin: 0px;
    font-size: 16px;
}
.profile-occupation{
    margin: 0px;
    font-size: 12px;
}
.follow-ava {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
    display: inline-block;
}
.timeline-ava {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid #688a7e;
    display: inline-block;
}
.timeline-ava img{
    border-radius: 50%;
   -webkit-border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile-widget img {
   border-radius: 50%;
   -webkit-border-radius: 50%;
    width: 62px;
    height: 62px;
}

/*carousel*/

.carousel-indicators li {
    background:  rgba(0, 0, 0, 0.2) ;
    border:  none;
    transition:background-color 0.25s ease 0s;
    -moz-transition:background-color 0.25s ease 0s;
    -webkit-transition:background-color 0.25s ease 0s;
}

.carousel-indicators .active {
    background:#00a0df;
    height: 10px;
    margin: 1px;
    width: 10px;
}

.carousel-indicators.out {
    bottom: -5px;
}

.carousel-indicators.out {
    bottom: -5px;
}

.carousel-control {
    color: #999999;
    text-shadow: none;
    width: 45px;
}

.carousel-control i {
    display: inline-block;
    height: 25px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 5;
}


.carousel-control.left, .carousel-control.right {
    background: none;
    filter:none;
}

.carousel-control:hover, .carousel-control:focus {
    color: #CCCCCC;
    opacity: 0.9;
    text-decoration: none;
}

.carousel-inner h3 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.carousel-inner {
    margin-bottom: 15px;
}


/*modales*/

#modalfuncion1{

width: 80% !important;
margin-top: 50px !important;

}

